<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mcs -->
      <package
            uri="http://cam.mcs.model/mcs"
            class="artifact.ArtifactPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mcs -->
      <package
            uri="http://cam.mcs.model/base"
            class="base.BasePackage"/>
   </extension>

</plugin>
